@import "mixins";

.topContainer {
    @include flex-box;
    padding: 20px;
    button {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}

.grid-stack {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right, #888 1px, transparent 1px),
                        linear-gradient(to bottom, #888 1px, transparent 1px);
    background-size: 101.05px 101.05px; /* Adjust the size of the grid cells */
    .grid-stack-item {
        @include border-box;
        padding: 10px;
        background-color: #7ba4d7;
        text-align: center;
        &:hover {
            cursor: grabbing;
            cursor: -moz-grabbing;
            cursor: -webkit-grabbing;
        }
        &:first-child {
            background-color: #67d967;
        }
        &:nth-child(2) {
            background-color: #3371cd;
        }
        &:nth-child(3) {
            background-color: #ebeb5b;
        }
        &:nth-child(4) {
            background-color: #db2c2c;
        }
    }
}

$columns: 19;
@function fixed($float) {
    @return round($float * 1000) / 1000; // total 2+3 digits being %
}
.gs-#{$columns} > .grid-stack-item {
    width: fixed(100% / $columns);
    @for $i from 1 through $columns - 1 {
        &[gs-x='#{$i}'] { left: fixed((100% / $columns) * $i); }
        &[gs-w='#{$i+1}'] { width: fixed((100% / $columns) * ($i+1)); }
    }
}